$primary-color: #c300ff;
$secondary-color: #00ffcc;
$text-color: #d9d9d9; 
$background-color: #1a1a1a;
$input-background-color: #333333; 

#contacto {
    background-color: $background-color;
    padding: 80px 0;
    text-align: center;
    box-shadow: 0 0 20px rgba(255, 0, 102, 0.5);

h2 {
font-size: 2.5em;
margin-bottom: 40px;
color: $secondary-color;
font-weight: bold;
}

form {
    max-width: 500px;
    margin: 0 auto;

    .form-group {
    margin-bottom: 20px;

    label {
        display: block;
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 8px;
        color: $secondary-color;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid $secondary-color;
        border-radius: 4px;
        font-size: 1em;
        color: $text-color;
        background-color: $input-background-color;
    }

    textarea {
        height: 150px;
    }
    }

    button[type="submit"] {
    font-size: 1.2em;
    font-weight: bold;
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
    color: #fff;
    background-color: $primary-color;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $secondary-color;
    }
    }
  }
}
