#contactanos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: #00ffff;
    height: 80vh;
 }

 #contactanos h2{
    font-size: 7vw;
 }

 #contactanos button{
    font-size: 4vw;
 }