
footer{
    background: linear-gradient(to right,rgb(0, 255, 255), #e669ff);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgba(132, 0, 255, 0.5);
}

footer .contenedor{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.social-media img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.social-media h3 {
    font-size: 1.5em;
}

.social-media ul {
    display: flex;
    justify-content: center;
}


