@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.7em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.25;
}

ul {
  list-style: none;
}

li {
  font-size: 1.25em;
}

header {
  padding: 1.5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #1e0039;
  overflow: hidden;
  animation: lightRotate 10s infinite linear;
}
header .logo {
  margin: 0;
  padding: 10px;
  font-weight: bold;
  font-size: 1.2em;
  color: #ffffff;
  transition: color 0.3s ease;
}
header .logo:hover {
  color: #00ffff;
}
header .contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .contenedor .nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 10px;
}
header .contenedor .nav a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  margin: 10px;
  transition: color 0.3s ease;
}
header .contenedor .nav a:hover {
  color: #00ffff;
}

button {
  font-size: 1.2em;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
button:hover {
  background-color: rgba(0, 255, 255, 0.1);
  color: #ffffff;
  border: 1px solid rgba(0, 255, 255, 0.8);
}

.navbar {
  background-color: #1e0039;
}
.navbar .navbar-brand {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s ease;
}
.navbar .navbar-brand:hover {
  color: #00ffff;
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s ease;
}
.navbar .navbar-nav .nav-link:hover {
  color: #00ffff;
}

.contenedor {
  max-width: 100%;
  margin: auto;
}

.color-text2 {
  color: #00ffff;
  text-shadow: 2px 2px 2px rgba(230, 105, 255, 0.8);
}

@keyframes lightRotate {
  0% {
    box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0.5);
  }
  25% {
    box-shadow: 0 0 20px 10px rgba(0, 0, 255, 0.7);
  }
  50% {
    box-shadow: 0 0 30px 15px rgba(0, 0, 255, 0.9);
  }
  75% {
    box-shadow: 0 0 20px 10px rgba(0, 0, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0.5);
  }
}
#uno {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("multimedia/estudio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#uno h1 {
  color: aqua;
}

#uno button {
  font-size: 1.75em;
}

#dos .contenedor {
  text-align: center;
  padding: 200px 12px;
}

#dos p {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
  line-height: 1.5;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#mas-contenido {
  background-color: rgb(53, 49, 49);
  text-align: center;
  color: aqua;
}

#mas-contenido .contenedor {
  padding: 150px 12px;
}

#mas-contenido h2 {
  margin-top: 0;
  font-size: 3.2em;
}

#mas-contenido p {
  display: none;
  color: aliceblue;
}

#mas-contenido .carta {
  background-position: center center;
  background-size: cover;
  padding: 50px;
  margin: 20px;
  border-radius: 20px;
}

.carta:nth-child(1) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("multimedia/masterizacion.jpg");
}

.carta:nth-child(2) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("multimedia/grabacion.jpg");
}

.carta:nth-child(3) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("multimedia/videoclip.jpg");
}

@keyframes color-change {
  0% {
    background-color: turquoise;
  }
  50% {
    background-color: violet;
  }
  100% {
    background-color: turquoise;
  }
}
@keyframes light-move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100vw, 100vh);
  }
}
.light {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  animation: color-change 2s infinite;
}
.light:nth-child(1) {
  animation-delay: 0.2s;
  animation-name: color-change, light-move-1;
}
.light:nth-child(2) {
  animation-delay: 0.4s;
  animation-name: color-change, light-move-2;
}
.light:nth-child(3) {
  animation-delay: 0.6s;
  animation-name: color-change, light-move-3;
}
.light:nth-child(4) {
  animation-delay: 0.8s;
  animation-name: color-change, light-move-4;
}
.light:nth-child(5) {
  animation-delay: 1s;
  animation-name: color-change, light-move-5;
}
.light:nth-child(6) {
  animation-delay: 1.2s;
  animation-name: color-change, light-move-6;
}
.light:nth-child(7) {
  animation-delay: 1.4s;
  animation-name: color-change, light-move-7;
}
.light:nth-child(8) {
  animation-delay: 1.6s;
  animation-name: color-change, light-move-8;
}
.light:nth-child(9) {
  animation-delay: 1.8s;
  animation-name: color-change, light-move-9;
}
.light:nth-child(10) {
  animation-delay: 2s;
  animation-name: color-change, light-move-10;
}

.light:nth-child(1) {
  top: 15.3613208508%;
  left: 4.9861052674%;
  animation-duration: 4.1666786346s;
  width: 3.3178686262px;
  height: 2.4933944529px;
}

@keyframes light-move-1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100vw, 0);
  }
}
.light:nth-child(2) {
  top: 92.536098847%;
  left: 18.772989974%;
  animation-duration: 2.1832420201s;
  width: 4.6927282285px;
  height: 3.3169398075px;
}

@keyframes light-move-2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 100vh);
  }
}
.light:nth-child(3) {
  top: 39.5351962681%;
  left: 96.8420223348%;
  animation-duration: 2.6085809337s;
  width: 3.186736809px;
  height: 3.0891184951px;
}

@keyframes light-move-3 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -100vh);
  }
}
.light:nth-child(4) {
  top: 98.8280457183%;
  left: 29.2873862743%;
  animation-duration: 3.3551613469s;
  width: 4.5358594226px;
  height: 3.5627884324px;
}

@keyframes light-move-4 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100vw, 0);
  }
}
.light:nth-child(5) {
  top: 87.9367468951%;
  left: 0.8051721393%;
  animation-duration: 4.4151175651s;
  width: 4.4922950613px;
  height: 3.671389429px;
}

@keyframes light-move-5 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100vw, 100vh);
  }
}
.light:nth-child(6) {
  top: 53.9929274659%;
  left: 37.8085829997%;
  animation-duration: 3.67585864s;
  width: 4.8778883587px;
  height: 2.0656631576px;
}

@keyframes light-move-6 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100vw, -100vh);
  }
}
.light:nth-child(7) {
  top: 63.341224109%;
  left: 53.4193714728%;
  animation-duration: 4.3042839518s;
  width: 4.4660943571px;
  height: 4.6530995211px;
}

@keyframes light-move-7 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100vw, 100vh);
  }
}
.light:nth-child(8) {
  top: 49.6794072694%;
  left: 73.3735695835%;
  animation-duration: 3.9748055066s;
  width: 4.8682512896px;
  height: 2.2537309964px;
}

@keyframes light-move-8 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100vw, -100vh);
  }
}
.light:nth-child(9) {
  top: 25.064914185%;
  left: 13.2718665281%;
  animation-duration: 4.2946439862s;
  width: 3.0500614881px;
  height: 4.4257742157px;
}

@keyframes light-move-9 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translateX(100vw);
  }
}
.light:nth-child(10) {
  top: 28.379840276%;
  left: 42.677279863%;
  animation-duration: 4.5906144282s;
  width: 3.9076625369px;
  height: 4.7530406414px;
}

@keyframes light-move-10 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translateY(100vh);
  }
}
#quienes-somos {
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 100px 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

#quienes-somos ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quienes-somos li {
  margin: 16px 0;
  font-weight: bold;
  font-size: 2em;
}

#quienes-somos li:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 10px;
}

#quienes-somos p {
  font-size: 1.2em;
  margin-top: 30px;
}

#quienes-somos a {
  display: inline-block;
  padding: 10px 30px;
  margin-top: 30px;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  background-color: #ff1a1a;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

#quienes-somos a:hover {
  background-color: #ff4d4d;
}

#quienes-somos h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: bold;
  background: linear-gradient(45deg, #00ffff, #d53eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#quienes-somos p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 10px;
}

#quienes-somos p:first-child {
  margin-top: 0;
}

#quienes-somos .quote {
  font-style: italic;
  color: #999;
}

#quienes-somos p:hover {
  color: #00ffff;
  transition: color 0.3s ease;
}

@media (max-width: 768px) {
  #quienes-somos h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
    background: linear-gradient(45deg, #00ffff, #d53eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  #quienes-somos p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #00ffff;
    margin-bottom: 10px;
  }
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.gallery img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  filter: grayscale(100%);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

@media (max-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
  }
  .gallery img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    animation: color-transition 5s forwards;
  }
  .gallery img:hover {
    transform: scale(1);
    filter: grayscale(0%);
  }
  @keyframes color-transition {
    0% {
      filter: grayscale(100%);
    }
    100% {
      filter: grayscale(0%);
    }
  }
}
#contactanos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(30, 30, 30);
  color: #00ffff;
  height: 80vh;
}

#contactanos h2 {
  font-size: 7vw;
}

#contactanos button {
  font-size: 4vw;
}

footer {
  background: linear-gradient(to right, rgb(0, 255, 255), #e669ff);
}

footer p {
  margin: 0;
  padding: 12px;
  color: rgba(132, 0, 255, 0.5);
}

footer .contenedor {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.social-media img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.social-media h3 {
  font-size: 1.5em;
}

.social-media ul {
  display: flex;
  justify-content: center;
}

#servicios {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.servicio {
  margin-bottom: 30px;
}

.servicio h3 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333333;
}

.servicio-content {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.precio {
  font-size: 24px;
  font-weight: bold;
  color: #ff3366;
}

.servicio-carousel {
  margin-top: 30px;
}

.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: transparent;
  background-size: cover;
  border: none;
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-control-prev-icon::before {
  width: 12px;
  height: 20px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}

.carousel-control-next-icon::before {
  width: 12px;
  height: 20px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 1;
}

.carousel-indicators {
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  text-align: center;
  margin-bottom: 0;
}

.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #333333;
  transition: background-color 0.3s ease-in-out;
}

.carousel-indicators .active {
  background-color: #333333;
}

#servicios h2 {
  margin-bottom: 40px;
  font-size: 50px;
  text-align: center;
  background-image: linear-gradient(to right, #00d2ff, #7a00e8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}

#contacto {
  background-color: #f9f9f9;
  padding: 80px 0;
  text-align: center;
}

#contacto h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
}

#contacto form {
  max-width: 500px;
  margin: 0 auto;
}

#contacto .form-group {
  margin-bottom: 20px;
}

#contacto label {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 8px;
}

#contacto input[type=text],
#contacto input[type=email],
#contacto textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

#contacto textarea {
  height: 150px;
}

#contacto button[type=submit] {
  font-size: 1.2em;
  font-weight: bold;
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  color: #fff;
  background-color: #4c6ef5;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#contacto button[type=submit]:hover {
  background-color: #3b55c7;
}

@media (min-width: 720px) {
  header {
    position: fixed;
    width: 100%;
  }
  header .contenedor {
    flex-direction: row;
    justify-content: space-between;
  }
  header .nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
  }
  header a {
    margin: 0;
  }
  #dos .contenedor {
    display: flex;
    justify-content: space-evenly;
  }
  #dos .texto {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #dos .texto p {
    font-size: 1.2em;
    color: #000000;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
    transition: text-shadow 0.3s ease-in-out;
  }
  #dos .texto p:hover {
    text-shadow: 2px 2px 4px rgba(90, 57, 221, 0.8), 2px 2px 8px rgba(187, 20, 255, 0.8);
  }
  #dos .h2 {
    margin-top: 0px;
  }
  #dos .imagen-contenedor {
    background-color: #000;
    background-image: url("multimedia/logo2.png");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease-in-out;
  }
  #dos .imagen-contenedor:hover {
    box-shadow: 0 0 10px rgba(90, 57, 221, 0.8), 0 0 20px rgba(187, 20, 255, 0.8);
  }
  #dos .imagen-contenedor::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  #mas-contenido .nuestros-servicios {
    display: flex;
    justify-content: center;
  }
  #mas-contenido p {
    display: block;
    margin-bottom: 30px;
  }
  #mas-contenido h3 {
    margin-top: 0;
  }
  #mas-contenido .carta {
    padding: 15px;
  }
  #contactanos h2 {
    font-size: 5em;
  }
  #contactanos button {
    font-size: 2em;
  }
  footer .contenedor {
    justify-content: flex-end;
  }
  footer {
    padding: 10px;
  }
  footer p {
    font-size: 1em;
  }
}
@media (max-width: 767px) {
  .gallery {
    display: block;
    margin: 20px auto;
  }
  .gallery img {
    display: block;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}
@media (min-width: 768px) {
  #servicios {
    padding: 50px 0;
  }
  #servicios h2 {
    margin-top: 100px;
    font-size: 80px;
    text-align: center;
    background-image: linear-gradient(to right, #00d2ff, #7a00e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .servicio h3 {
    font-size: 28px;
  }
  .servicio-content {
    padding: 20px;
  }
  .precio {
    font-size: 24px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 50px;
    height: 50px;
  }
  .carousel-control-prev-icon::before,
  .carousel-control-next-icon::before {
    width: 12px;
    height: 20px;
  }
  .carousel-indicators li {
    width: 12px;
    height: 12px;
  }
}
@media (max-width: 768px) {
  #contacto form {
    max-width: 100%;
    padding: 0 20px;
  }
}
.horario-atencion {
  text-align: center;
  margin-top: 20px;
}

.horario-atencion p {
  font-size: 1.2em;
  color: green;
}

@media (max-width: 768px) {
  .horario-atencion p {
    color: red;
  }
}/*# sourceMappingURL=estilos.css.map */